<%- include("../../partials/head") %>


    <div class="container my-container mt-5">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body">
                   
                        <h4 class="card-title text-center">Create a new account</h4>
                        <form action="/auth/signup" method="post">
                            <div class="mb-3 mt-3">
                                <label for="username">Username(Must be unique)</label>
                                <input type="text" class="form-control <%= error.username ? 'is-invalid' : '' %> " placeholder="Enter your username" id="username" name="username" value=" <%= value.username ? value.username : '' %> ">
                                <div class="invalid-feedback">
                                   <%= error.username && error.username %>
                                </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control <%= error.email ? 'is-invalid' : '' %> " placeholder="Enter your email address" name="email" id="email" value=" <%= value.email ? value.email : '' %> ">
                                <div class="invalid-feedback">
                                    <%= error.email && error.email %>
                                 </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control  <%= error.password ? 'is-invalid' : '' %> " placeholder="Enter your password" name="password" id="password" value=" <%= value.password ? value.password : '' %> ">
                                <div class="invalid-feedback">
                                    <%= error.password && error.password %>
                                 </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control  <%= error.confirm_password ? 'is-invalid' : '' %> " placeholder="Enter your confirm password" name="confirm_password" id="confirm_password">
                                <div class="invalid-feedback">
                                    <%= error.confirm_password && error.confirm_password %>
                                 </div>
                            </div>
                            <div  class="mb-3 mt-3">
                                <input type="submit" class="form-control btn btn-primary" value="Sign Up">
                            </div>
                        </form>
                        <p class="my-3 text-center">Already have an account? <a href="/auth/login">Login Here</a> </p>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer") %>

        </body>

        </html>